<div class="container-project2">
  <div class="title">
    <span class="hash-color">Title: </span> {{dataProject2.title}}
  </div>
  <div class="motivation">
    <span class="hash-color">Motivation: </span>{{dataProject2.motivation}}
  </div>
  <div class="description">
    <span class="hash-color">Description: </span>{{dataProject2.description}}
  </div>
  <div class="video-project2">
    <video controls [src]="dataProject2.videoURL"
           poster="/assets/images/Dota2TrackerPoster.png">
    </video>

  </div>
</div>


