<section class="hero">
  <div class="hero-content">
    <div class="hero-quote">
      <h1 class="fade-in">Saim is a <span class="hash-color">Software
        Engineering</span>
        graduate from <span class="hash-color">Sheridan College.</span>
      </h1>
      <div class="hero-quote_small-text fade-in-2">
        <div class="hero-quote_table">
          <table>
            <thead>
            <th>Employment History</th>
            </thead>
            <td>
              <tr><span class="hash-color"> Analyst </span>@
                <span class="hash-color">KPMG</span>, India,
                2018 -
                2020 <span class="hash-color">(full-time)</span></tr>
              <tr><span class="hash-color">Consultant</span> @<span class="hash-color">
                Ericsson</span>,
                India, May
                - Aug 2018
                <span class="hash-color">(contract)</span></tr>
              <tr><span class="hash-color">Software Developer Trainee</span> @
                <span class="hash-color"> Holostik</span> India, Mar - May
                2018
                <span class="hash-color">(internship)</span>
              </tr>
              <tr><span class="hash-color">Intern </span>@ <span
                class="hash-color">Uneecops </span>
                Technologies
                Ltd, India, May - Jun 2017
                <span class="hash-color">(internship)</span></tr>
              <tr><span class="hash-color">Intern </span>@<span class="hash-color"> MothersonSumi
                Infotech &
                Designs Ltd</span>, India, May
                - Jun 2016 <span class="hash-color">(internship)</span></tr>
            </td>
            <thead class="employment-item">
            <th > Education History</th>
            </thead>
            <td>
              <tr><span class="hash-color">Software Engineering
                Diploma</span>, Sheridan College, Oakville, Jan 2022 - Aug
                2023</tr>
              <tr><span class="hash-color">Bachelors in Computer
                Science</span>, Amity University, India, Jul 2014 - May
                2018</tr>
            </td>
          </table>
        </div>
      </div>
    </div>
    <div class="hero-image fade-in-2">
<!--      <img src="/assets/images/landing-test.jpeg" alt="Hero Image"-->
<!--           height="300" width="350">-->
    </div>
  </div>
</section>
