<section class="hero">
  <div class="hero-content">
    <div class="hero-quote">
      <h1>Saim is a <span class="hash-color">Software Engineering</span>
        graduate from <span class="hash-color">Sheridan College.</span>
      </h1>
      <div class="hero-quote_small-text">
        <h4>Be sure to checkout some of his projects!</h4>
      </div>
    </div>
    <div class="hero-image">
      <img src="assets/images/landing-test.jpeg" alt="Hero Image"
           height="300" width="350">
    </div>
  </div>
</section>
