.container{
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  text-align: center;
  padding: 0.5em;
  overflow-x: hidden;
}

.container > *{
  padding-bottom: 0.5em;
}

.video{
  text-align: center;
  height: 25vh;
  width: 50vw;
}



