.project2-container{
  border: 1px solid var(--secondary-text);
  width: 160px;

}

.project2-container > *{
  border: 1px solid var(--secondary-text);
  color: var(--secondary-text);
  padding: 0.2em;
}
