.projects-container, .skills-container {
  width: 100%; /* Ensure the container spans the entire width */
  display: flex;
  margin: 0.5em;
  flex-wrap: wrap;
}

.projects, .skills {

  display: inline-block;
  position: relative;
}

.projects{

}

.skills{

}


.projects::after, .skills::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  height: 1px;
  background-color: var(--emphasis-text); /* Replace with your desired color */
}

.projects-container-items{
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.projects-container-items > * {
  margin-left: 1em;
}

.skills-table{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px){
  .projects-container-items > div{
    margin-left: 30.33vw;
    justify-content: center;
    width: 100%;

  }

  .skills-table > div {
    margin-left: 30.33vw;
    justify-content: center;
    width: 100%;
  }
}
