<app-navbar/>
<app-landing/>
<app-quote/>
<div class="projects-container">
  <div class="projects">
    <h1> <span class="hash-color">#</span>projects</h1>
  </div>
</div>
<div class="projects-container-items">
  <div><app-project1-product-world/></div>
  <div><app-project2-dota-tracker/></div>
  <div><app-project3-grade-management-c/></div>
  <div><app-project4-balance-paranthesis-c/></div>

</div>

<div class="skills-container">
  <div class="skills">
    <h1> <span class="hash-color">#</span>skills</h1>
  </div>
</div>
<div class="skills-table">
  <app-skills/>
</div>


