.quote-container{
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  font-weight: bolder;
  border: 1px solid whitesmoke;
}

.quote-container h2{
  margin: 0.5em;
  text-align: center;
}

.quote-container__quote-source{
  text-align: right;
  color: var(--emphasis-text);
  margin: 0.5em;
  font-size: larger;
}
