:root{
  --background-color: #282C33;
  --emphasis-text: #C778DD;
  --primary-text: #FFFFFF;
  --secondary-text: #ABB2BF;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--background-color);
  color: var(--primary-text);
}
